@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

html{
    background: #f10935;
}
body {
    background: #f10935;
    margin:0;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.page{
    height: 100%;
}
.page-area{
    display: flex;
    flex-flow: column;
    height: calc( 100% - 20px );
}
svg{
    vertical-align: middle;
}
.warning{
    height: 100vh;
    z-index: 2;
    background: #f10935;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14vw;
    color: #fff;
}
.warning h1{
    line-height: 100vh;
}
.message a{
    color: #ffffff;
    text-decoration: underline;
}
.hide{
    display: none;
}
.clock{
    color: #ffffff;
    text-align: center;
    line-height: normal;
    padding: 20px 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clock .days{
    font-size: 20vw;
    display: block;
    word-spacing: -15px;
    margin-bottom: 5px;
}
.clock .seconds{
    font-size: 7vw;
    word-spacing: -5px;
}
.clock .seconds .board{
    padding: 0 5px;
}
.clock .hours,
.clock .minutes,
.clock .seconds{
    vertical-align: middle;
}
.legend{
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
.loading{
    font-size: 10vw;
    padding: 40px 0;
    display: block;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f10935;
    z-index: 1;
}
.board{
    background: #fe4767;
    border-radius: 8px;
    padding: 0 10px;
}
.countdown{
    display: block;
    word-spacing: -7px;
    line-height: 1.5;
}
.countdown .time{
    display: block;
    font-size: 11vw;
    font-weight: 600;
}
.clock .text{
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 6vw;
    font-weight: 300;
}
.clock .title{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.clock .day-tip-area{
    border-radius: 10px;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 2px solid #fff;
}
.clock .day-tip-area .day-tip{
    padding-bottom: 5px;
    display: block;
}
.clock .config{
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
}
.interactions,
.action-buttons{
    border-radius: 10px;
}
.action-buttons{
    display: flex;
    padding: 10px 0 4px;
}
.action-buttons .button{
    /* background: #ffffff; */
    box-shadow: -4px -4px 8px #b80526, 4px 4px 8px #e23156;
    /* border: 1px solid #fff; */
    /* flex: 1; */
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 0 0 10px #0000005e; */
    line-height: 50px;
    font-size: 25px;
    min-height: 50px;
}
.action-buttons .button.svg svg{
    width: auto;
    height: 35px;
}
.action-buttons .button.svg path,
.list-button svg{
    fill: #fff;
}
.action-buttons .button:active{
    box-shadow: inset 4px 4px 10px rgb(0 0 0 / 50%), inset -4px -4px 10px #f10935;
    /* border: 1px solid transparent; */
    font-size: 20px;
}
.action-buttons .button:active svg{
    height: 30px;
}
.button.list-button:active svg{
    height: 20px;
}
.action-buttons div{
    flex: 1;
}
.action-buttons :nth-child(n+2){
    margin-left: 10px;
}
.last-view{
    display: flex;
    text-align: center;
    color: #fff;
    margin: 0 auto 2px auto;
}
.last-view .dot{
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 10px;
    margin: auto 4px;
}
.last-view p{
    margin: 0;
}
.interactions{
    background: #ffffff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 20px;
    flex: 1;
    /* box-shadow: 0 0 10px #0000005e; */
}
.messages{
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 10px;
    display: block;
    max-width: 100%;
    overflow-y: scroll;
}
.messages span{
    display: block;
}
.messages p{
    margin-bottom: 5px;
    line-height: 14px;
}
.messages p .qnt{
    font-weight: bolder;
    font-size: 13px;
    color: #F10937;;
    opacity: 1;
    vertical-align: initial;
}
.messages .sent{
    text-align: right;
}
.messages .received{
    text-align: left;
}
.messages .message{
    position: relative;
    clear: both;
}
.messages .message:after{
    position: absolute;
    bottom: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #f10935;
}
.messages .message.received:after {
    border-left: 10px solid transparent;
    left: -10px;
    border-top-left-radius: 2px;
}
.messages .message.sent:after {
    border-right: 10px solid transparent;
    right: -10px;
    border-top-right-radius: 2px;
}
.messages p>b,
.messages .message b{
    opacity: 50%;
    font-weight: 400;
    font-size: 10px;
    vertical-align: middle;
    text-align: right;
}
.messages span:first-letter{
    text-transform: capitalize!important;
}
.messages .sent.message,
.messages .received.message{
    max-width: 80%;
    background: #F10937;
    color: white;
    padding: 3px 10px;
    border-radius: 8px;
    display: block;
    margin-bottom: 2px;
    width: max-content;
}
.messages .sent.message{
    margin-left: auto;
}
.messages .sent.message p{
    text-align: left;
}
.messages .received.message{
    margin-right: auto;
}
.messages .received.message p{
    text-align: left;
}
.messages .message p{
    margin-bottom: 0;
}
.messages .message b{
    opacity: 70%;
    display: block;
    line-height: 13px;
}
.messages .message.like:before{
    content: url(../svg/mdi_favorite_white_15x15.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    background: #F10937;
    border: 1px solid white;
    border-radius: 15px;
    display: block;
    padding: 4px;
}
.messages .message.sent.like:before{
    left: -18px;
}
.messages .message.received.like:before{
    right: -18px;
}
.messages .received.message{
    text-align: right;
}
.header{
    display: block;
}
.header input{
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 0 8px;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #f10935;
    height: 35px;
    border-bottom: 1px solid #fff;
}
.header input::placeholder{
    color: #fff;
    font-weight: 200;
}
.modal-buttons-area{
    padding-bottom: 0;
}
.modal-buttons-area .button{
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
}

/* TICKET MODAL */
.modal-button{
    color: #f10935;
    font-size: 17px;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    margin-top: 5px;
    background: #fff;
    font-weight: 500;
}
.modal-area{
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.modal .modal-title{
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    background: #f10935;
    padding-top: 10px;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1;
}
.modal .modal-title .title{
    padding: 0 0 10px;
}
.modal .modal-title .title .togetherSum{
    margin: 6px 0;
    font-size: 24px;
    text-align: center;
}
.modal .close-modal{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 22px;
    padding: 5px 12px;
    line-height: 40px;
    font-weight: 300;
    z-index: 1;
}
.ticket{
    padding: 0 10px 15px;
}
.modal{
    width: 100%;
    height: 100%;
    background: #f10935;
    margin: auto;
    border-radius: 15px;
    padding: 0 10px;
    color: #fff;
    position: relative;
    overflow-y: scroll;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow-y: hidden;
}
.ticket .ticket-content{
    overflow-y: scroll;
    height: calc(100% - 62px);
}
.ticket .ticket-content>div,
.ticket .ticket-content .more-info{
    margin-bottom: 10px;
}
.ticket .address{
    color: #f10935;
    font-size: 17px;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    margin-top: 5px;
    background: #fff;
    text-align: center;
}
.ticket .title svg,
.ticket .address svg{
    vertical-align: middle;
    margin-right: 5px;
}
.ticket .dates{
    text-align: center;
    display: flex;
}
.ticket .dates div{
    flex: 2;
}
.ticket .dates span{
    flex: 0.5;
}
.ticket .dates>span{
    vertical-align: top;
    line-height: 65px;
    font-weight: bold;
    font-size: 16px;
}
.ticket .date{
    font-size: 23px;
    width: 65px;
    background: #fff;
    color: #f10935;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}
.ticket .date:first-child{
    margin-right: 10px;
}
.ticket .date:last-child{
    margin-left: 10px;
}
.ticket .date>:first-child{
    text-transform: uppercase;
    font-size: 18px;
}
.ticket .date>:last-child{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 33px;
}
.ticket .date hr{
    width: 50%;
    margin: 0 auto;
    border-color: #f10935;
}
.ticket .check-area{
    display: flex;
}
.ticket .check-area span{
    flex: 1;
}
.ticket .check-area>span:nth-child(n+2) {
    margin-left: 15px;
}
.ticket .check-area .check{
    color: #fff;
    padding: 8px 10px 4px;
    border-radius: 10px;
    border: 2px solid #fff;
    /* color: #fe4767; */
}
.ticket .check-area .check>p{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.ticket .check-area .check .day{
    font-size: 15px;
}
.ticket .check-area .check .time{
    font-size: 28px;
}

.ticket .id-area,
.ticket .more-info{
    background: #fff;
    color: #f10935;
    border-radius: 10px;
    padding: 8px 12px;
}
.ticket .id-area>span{
    display: block;
}
.ticket .id-area .guest-area span{
    display: block;
}
.ticket .id-area .host{
    margin-bottom: 8px;
}
.ticket .id-area .address-id span{
    background: #f10935;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
    display: block;
    width: max-content;
    margin-bottom: 3px;
}
.ticket .id-area .apto{
    font-size: 24px;
}
.ticket .more-info span{
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.ticket .more-info .title{
    font-size: 14px;
    font-weight: 400;
}
.ticket .more-info .content{
    font-size: 18px;
}
.ticket .address-area>span{
    font-size: 24px;
}

/* END TICKET MODAL */


/* REMINDER MODAL */

.modal.reminder-list .tab-list{
    font-size: 22px;
    display: flex;
    text-align: center;
}
.modal.reminder-list .tab-list span{
    flex: 1;
    opacity: 0.4;
}
.modal.reminder-list .tab-list span.active{
    opacity: 1;
    border-bottom: 4px solid #fff;
}
.modal.reminder-list>h2{
    margin-top: 0;
}
.modal.reminder-list>h3{
    margin-top: 5px;
}
.reminder-list .principal-list{
    overflow-y: scroll;
    height: calc(100% - 101px);
}
.reminder-list .principal-list .list .item:first-child{
    margin-top: 10px;
}
.reminder-list .principal-list>div:last-child{
    padding-bottom: 15px;
}
.modal.reminder-list .list .none{
    padding-top: 12px;
}
.modal.reminder-list .list .item{
    display: block;
}
.modal.reminder-list .list .item svg{
    vertical-align: top;
}
.modal.reminder-list .list .item::first-letter{
    text-transform: uppercase;
}
.modal.reminder-list .add-item{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    display: flex;
}
.modal.reminder-list .add-item svg{
    flex: none;
    margin-right: 5px;
}
.modal.reminder-list .add-item input::placeholder{
    color: #fff;
    opacity: 0.6;
}
.modal.reminder-list .list .item .input,
.modal.reminder-list .add-item .input{
    background: none;
    border: none;
    font-size: 14px;
    vertical-align: top;
    width: calc(100% - 36px);
    display: inline-flex;
    padding: 5px 0;
    border-bottom: 1px solid #ffffffc9;
}
.modal.reminder-list .add-item .input{
    width: 100%;
    border: none;
    font-size: 18px;
}
.modal.reminder-list .input:focus{
    outline: none;
}
[contentEditable]:empty:not(:focus):before{
    content:attr(data-text);
    font-size: 20px;
    opacity: 0.7;
}

/* END REMINDER MODAL */


/* TIPS MODAL */

.modal.tips .tips-list{
    height: calc(100% - 70px);
    overflow-y: scroll;
}
.modal.tips .tips-list .past-tips .tip,
.modal.tips .tips-list .future-tips .tip{
    display: flex;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}
.modal.tips .tips-list .past-tips .tip:first-child,
.modal.tips .tips-list .future-tips .tip:first-child{
    border-top: 1px solid #fff;
}
.modal.tips .tips-list .past-tips{
    opacity: 0.6;
}
.modal.tips .tips-list .tip .date{
    flex: 0.5;
}
.modal.tips .tips-list .tip .date span{
    display: block;
    text-align: center;
}
.modal.tips .tips-list .tip .date span{
    font-size: 14px;
}

.modal.tips .tips-list .tip .date span:first-child{
    font-size: 18px;
}
.modal.tips .tips-list .tip div{
    flex: 2;
}

/* END TIPS MODAL */


/* DATES MODAL */

.modal.dates .dates-area{
    overflow: scroll;
    height: calc( 100% - 95px );
}
.modal.dates .dates-area.viewer button{
    display: none;
}
.modal.dates .dates-area input{
    pointer-events: none;
}
.modal.dates .dates-area .date.editor .details input{
    pointer-events: auto;
    background: #ffffff;
    color: #fe4767;
    border: none;
}
.modal.dates .dates-area .date.editor .details input::placeholder{
    color: #fe4767!important;
}
.modal.dates .dates-area .date .details input[type=datetime-local]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
.modal.dates .dates-area .date.editor .details input[type=datetime-local]::-webkit-calendar-picker-indicator{
    filter: none;
}
.modal.dates .dates-area .date.show .cancel,
.modal.dates .dates-area .date.show .save{
    display: none;
}
.modal.dates .dates-area .date.editor .buttons-area .edit{
    display: none;
}
.modal.dates .dates-area .date.editor .cancel,
.modal.dates .dates-area .date.editor .save{
    display: initial;
}
.modal.dates .dates-area .date .buttons-area .button.save{
    margin-left: 12px;
}
.modal.dates .dates-area .date .buttons-area .button.cancel{
    box-shadow: none;
    border: 1px solid #ffffffbd;
}
.modal.dates .dates-area .date .buttons-area .button.cancel:active{
    border: none;
}
.modal.dates .dates-area.viewer .buttons-area{
    display: none;
}
.modal.dates .date{
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 6px;
}
.modal.dates .dates-area .meeting-num,
.modal.dates .dates-area .date .item{
    display: table-cell;
}
.modal.dates .dates-area .meeting-num{
    font-size: 28px;
    font-weight: 300;
    padding-right: 5px;
}
.modal.dates .dates-area .date span.details{
    display: none;
}
.modal.dates .dates-area .date .item{
    vertical-align: middle;
    padding: 2px 10px;
    display: flex;
}
.modal.dates .dates-area .date .item .range{
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    margin: 0;
    line-height: 30px;
}
.modal.dates .dates-area .date .item svg{
    margin: auto 0 auto auto;
}
.modal.dates .dates-area .date.show .item{
    color: #fe4767;
    background: #fff;
}
.modal.dates .dates-area .date.show .details{
    display: block;
}
.modal.dates .dates-area .date.show .details input{
    margin-bottom: 5px;
}
.modal.dates .dates-area .date.show .item svg{
    fill: #fe4767;
    animation-duration: 300ms;
    animation-name: rotate;
    transform: rotate(180deg);
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}
.modal.dates .dates-area .date .details{
    display: block;
    padding: 12px;
}
.modal.dates .dates-area .date .details input{
    flex: 1;
    font-size: medium;
    border-radius: 6px;
    padding: 3px 6px;
    height: 35px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.modal.dates .dates-area .date .details input[type=datetime-local]{
    text-align: center;
    width: 100%;
}
.modal.dates .dates-area .date .details .date-edit input:last-child{
    margin-left: 5px;
}
.modal.dates .dates-area .date .details .ticket{
    padding: 0 0 2px;
    display: block;
    margin-top: 5px;
}
.modal.dates .dates-area.viewer .date .details .ticket .hide-toggle{
    display: none;
}
.modal.dates .dates-area .date .details .ticket .buttons-area{
    display: flex;
}
.modal.dates .dates-area .date .details .ticket label{
    display: block;
}
.modal.dates .dates-area .date .details .ticket input{
    display: block;
    width: 100%;
}
.modal.dates .dates-area .date .details .ticket input::placeholder{
    opacity: 0.7;
    color: #ffffff;
}
.modal.dates .dates-area .date .details .ticket button{
    height: 42px;
    font-size: 18px;
    box-shadow: -4px -4px 8px #b80526, 4px 4px 8px #e23156;
    text-align: center;
    margin-top: 14px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
    background-color: #f10935;
    border: 0;
}
.modal.dates .dates-area .date .details .ticket button:active {
    box-shadow: inset 4px 4px 10px rgb(0 0 0 / 50%), inset -4px -4px 10px #f10935;
    font-size: 16px;
}
.modal.dates .new-date-button{
    font-size: 22px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 4px 12px;
}

/* END DATES MODAL */


/* NEW DATE */

.modal.dates .dates-area.create .button{
    margin-top: 12px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #f10935;
    border-radius: 6px;
    padding: 4px;
    background-color: #ffffff;
}

/* END NEW DATE */


/* FlipDown Countdown */

.flipdown{
    overflow: visible;
    width: max-content;  
    /* height: 110px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.flipdown.flipdown__theme-dark {
    margin: 0 auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #fff;
  }
  /* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #fff;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  background-color: #fe4767;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  background-color: #fe4767;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 3px #f10935;
}
@media (max-width: 550px){
    .flipdown .rotor-group-heading:before {
        font-size: 1.2rem;
    }
    .flipdown .rotor {
        font-size: 4rem;
        margin-right: 3px;
        text-align: center;
    }
} 

.flipdown.flipdown__theme-dark{
    font-weight: 400;
}
.flipdown .rotor-group-heading:before {
    /* font-weight: bold; */
}


@import url("https://fonts.googleapis.com/css?family=Roboto:900");
/**
  * style variables
*/
/**
  * Control & indicator mixin
*/
.carousel {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;
/**
  * Where the magic happens
  */
/**
    * Control element - right/left arrows
  */
/**
    * Element for holding slide indicators
  */
/**
    * Indicator for indicating active slide
  */
/**
    * Create rules for when slides are contained within a track
  */
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.carousel__track .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.carousel__track .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.carousel__track .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}
.carousel__track .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}
.carousel--scale .carousel__slide {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}
/**
  * Theming
*/
.carousel-container {
  display: inline-block;
  width: 100%;
}
.my-carousel {
  border-radius: 5px;
  margin: 0;
}
.carousel__slide {
  overflow: hidden;
}
.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px;
}
.carousel__indicator {
  background-color: #fafafa;
}
.carousel__slide{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-image: url("../img/73c09d5f-c575-48b8-8652-2d9a24f09ddb.JPG");
}
.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url("https://unsplash.it/600?random");
}
.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: url("https://unsplash.it/900?random");
}
.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: url("https://unsplash.it/1200?random");
}
.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
  background-image: url("https://unsplash.it/1500?random");
}
