@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

body {
    background: #f10935;
    margin:0;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.warning{
    height: 100vh;
    z-index: 2;
    background: #f10935;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14vw;
    color: #fff;
}
.warning h1{
    line-height: 100vh;
}
.message a{
    color: #ffffff;
    text-decoration: underline;
}
.hide{
    display: none;
}
.content{
    height: 100vh;
}
.clock{
    color: #ffffff;
    text-align: center;
    line-height: normal;
    padding: 20px 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clock .days{
    font-size: 20vw;
    display: block;
    word-spacing: -15px;
    margin-bottom: 5px;
}
.clock .seconds{
    font-size: 7vw;
    word-spacing: -5px;
}
.clock .seconds .board{
    padding: 0 5px;
}
.clock .hours,
.clock .minutes,
.clock .seconds{
    vertical-align: middle;
}
.legend{
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
.loading{
    font-size: 10vw;
    padding: 40px 0;
    display: block;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f10935;
    z-index: 1;
}
.board{
    background: #fe4767;
    border-radius: 8px;
    padding: 0 10px;
}
.countdown{
    display: block;
    word-spacing: -7px;
    line-height: 1.5;
}
.countdown .time{
    display: block;
    font-size: 11vw;
    font-weight: 600;
}
.clock .text{
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 8vw;
    font-weight: 300;
}
.interactions,
.action-buttons{
    border-radius: 10px;
    min-height: 50px;
}
.action-buttons{
    display: flex;
    padding: 10px 0;
}
.action-buttons .button{
    background: #ffffff;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000005e;
    line-height: 50px;
    font-size: 25px;
}
.action-buttons .button:active{
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    font-size: 23px;
}
.action-buttons div{
    flex: 1;
}
.action-buttons .button:last-child{
    margin-left: 10px;
}
.interactions{
    background: #ffffff;
    padding: 5px;
    display: block;
    box-shadow: 0 0 10px #0000005e;
}
.messages{
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 10px;
    display: block;
    max-width: 100%;
    overflow-y: scroll;
}
.messages span{
    display: block;
}
.messages p{
    margin-bottom: 5px;
    line-height: 14px;
}
.messages p .qnt{
    font-weight: bolder;
    font-size: 13px;
    color: #F10937;;
    opacity: 1;
}
.messages .sent{
    text-align: right;
}
.messages .received{
    text-align: left;
}
.messages .message{
    position: relative;
    clear: both;
}
.messages .message:after{
    position: absolute;
    bottom: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #f10935;
}
.messages .message.received:after {
    border-left: 10px solid transparent;
    left: -10px;
    border-top-left-radius: 2px;
}
.messages .message.sent:after {
    border-right: 10px solid transparent;
    right: -10px;
    border-top-right-radius: 2px;
}
.messages p>b,
.messages .message b{
    opacity: 50%;
    font-weight: 400;
    font-size: 10px;
    vertical-align: middle;
    text-align: right;
}
.messages span:first-letter{
    text-transform: capitalize!important;
}
.messages .sent.message,
.messages .received.message{
    max-width: 80%;
    background: #F10937;
    color: white;
    padding: 3px 7px;
    border-radius: 8px;
    display: block;
    margin-bottom: 2px;
    width: max-content;
}
.messages .sent.message{
    margin-left: auto;
}
.messages .sent.message p{
    text-align: left;
}
.messages .received.message{
    margin-right: auto;
}
.messages .received.message p{
    text-align: left;
}
.messages .message p{
    margin-bottom: 0;
}
.messages .message b{
    opacity: 70%;
    display: block;
    line-height: 13px;
}
.messages .message.like{
    margin-top: 8px;
}
.messages .message.like:before{
    content: "❤️";
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 18px;
    top: -11px;
}
.messages .message.sent.like:before{
    left: -10px;
}
.messages .message.received.like:before{
    right: -8px;
}
.messages .received.message{
    text-align: right;
}
.header{
    display: block;
}
.header input{
    width: 100%;
    display: block;
    border: 1px solid #f10935;
    border-radius: 20px;
    padding: 0 8px;
    outline: none;
    font-size: 17px;
    color: #f10935;
    background: #fff;
}
.header input::placeholder{
    color: #f10935;
    font-weight: 200;
}
.address{
    color: #f10935;
    font-size: 17px;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    margin-top: 5px;
    background: #fff;
}

/* FlipDown Countdown */

.flipdown{
    overflow: visible;
    width: max-content;  
    /* height: 110px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.flipdown.flipdown__theme-dark {
    margin: 0 auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #fff;
  }
  /* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #fff;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  background-color: #fe4767;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  background-color: #fe4767;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 3px #f10935;
}
@media (max-width: 550px){
    .flipdown .rotor-group-heading:before {
        font-size: 1.2rem;
    }
    .flipdown .rotor {
        font-size: 4rem;
        margin-right: 3px;
        text-align: center;
    }
} 

.flipdown.flipdown__theme-dark{
    font-weight: 400;
}
.flipdown .rotor-group-heading:before {
    font-weight: bold;
}