@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

body {
    background: #f10935;
    margin:0;
    width: 100%;
    height: 100vh;
    position: fixed;
}
svg{
    vertical-align: middle;
}
.warning{
    height: 100vh;
    z-index: 2;
    background: #f10935;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14vw;
    color: #fff;
}
.warning h1{
    line-height: 100vh;
}
.message a{
    color: #ffffff;
    text-decoration: underline;
}
.hide{
    display: none;
}
.content{
    height: 100vh;
}
.clock{
    color: #ffffff;
    text-align: center;
    line-height: normal;
    padding: 20px 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.clock .days{
    font-size: 20vw;
    display: block;
    word-spacing: -15px;
    margin-bottom: 5px;
}
.clock .seconds{
    font-size: 7vw;
    word-spacing: -5px;
}
.clock .seconds .board{
    padding: 0 5px;
}
.clock .hours,
.clock .minutes,
.clock .seconds{
    vertical-align: middle;
}
.legend{
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
.loading{
    font-size: 10vw;
    padding: 40px 0;
    display: block;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f10935;
    z-index: 1;
}
.board{
    background: #fe4767;
    border-radius: 8px;
    padding: 0 10px;
}
.countdown{
    display: block;
    word-spacing: -7px;
    line-height: 1.5;
}
.countdown .time{
    display: block;
    font-size: 11vw;
    font-weight: 600;
}
.clock .text{
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 8vw;
    font-weight: 300;
}
.interactions,
.action-buttons{
    border-radius: 10px;
}
.action-buttons{
    display: flex;
    padding: 10px 0;
}
.action-buttons .button{
    background: #ffffff;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 0 0 10px #0000005e; */
    line-height: 50px;
    font-size: 25px;
    min-height: 50px;
}
.action-buttons .button.svg img{
    margin: 10px auto 0;
    display: block;
}
.action-buttons .button:active{
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    font-size: 23px;
}
.action-buttons div{
    flex: 1;
}
.action-buttons :nth-child(n+2){
    margin-left: 10px;
}
.interactions{
    background: #ffffff;
    padding: 5px;
    display: block;
    /* box-shadow: 0 0 10px #0000005e; */
}
.messages{
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 10px;
    display: block;
    max-width: 100%;
    overflow-y: scroll;
}
.messages span{
    display: block;
}
.messages p{
    margin-bottom: 5px;
    line-height: 14px;
}
.messages p .qnt{
    font-weight: bolder;
    font-size: 13px;
    color: #F10937;;
    opacity: 1;
    vertical-align: initial;
}
.messages .sent{
    text-align: right;
}
.messages .received{
    text-align: left;
}
.messages .message{
    position: relative;
    clear: both;
}
.messages .message:after{
    position: absolute;
    bottom: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #f10935;
}
.messages .message.received:after {
    border-left: 10px solid transparent;
    left: -10px;
    border-top-left-radius: 2px;
}
.messages .message.sent:after {
    border-right: 10px solid transparent;
    right: -10px;
    border-top-right-radius: 2px;
}
.messages p>b,
.messages .message b{
    opacity: 50%;
    font-weight: 400;
    font-size: 10px;
    vertical-align: middle;
    text-align: right;
}
.messages span:first-letter{
    text-transform: capitalize!important;
}
.messages .sent.message,
.messages .received.message{
    max-width: 80%;
    background: #F10937;
    color: white;
    padding: 3px 10px;
    border-radius: 8px;
    display: block;
    margin-bottom: 2px;
    width: max-content;
}
.messages .sent.message{
    margin-left: auto;
}
.messages .sent.message p{
    text-align: left;
}
.messages .received.message{
    margin-right: auto;
}
.messages .received.message p{
    text-align: left;
}
.messages .message p{
    margin-bottom: 0;
}
.messages .message b{
    opacity: 70%;
    display: block;
    line-height: 13px;
}
.messages .message.like:before{
    content: url(svg/mdi_favorite_white_15x15.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    background: #F10937;
    border: 1px solid white;
    border-radius: 15px;
    display: block;
    padding: 4px;
}
.messages .message.sent.like:before{
    left: -18px;
}
.messages .message.received.like:before{
    right: -18px;
}
.messages .received.message{
    text-align: right;
}
.header{
    display: block;
}
.header input{
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 0 8px;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #f10935;
    height: 35px;
    border-bottom: 1px solid #fff;
}
.header input::placeholder{
    color: #fff;
    font-weight: 200;
}
.modal-buttons-area{
    padding-bottom: 0;
}
.modal-buttons-area .button{
    font-size: 20px;
    color: #f10935;
    line-height: 50px;
    font-weight: 500;
}

/* TICKET MODAL */
.modal-button{
    color: #f10935;
    font-size: 17px;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    margin-top: 5px;
    background: #fff;
    font-weight: 500;
}
.modal-area{
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    /* padding: 10% 30px 30px; */
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.modal .modal-title{
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    background: #f10935;
    padding: 10px 20px;
    font-size: 30px;
    position: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.modal .close-modal{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 26px;
    padding: 5px 12px;
    line-height: 40px;
    font-weight: 300;
}
.ticket,
.reminder-list{
    width: 100%;
    max-height: 95%;
    background: #f10935;
    margin: auto;
    border-radius: 15px;
    padding: 15px 20px;
    color: #fff;
    position: relative;
    overflow-y: scroll;
    padding-top: 65px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.ticket>div{
    margin-bottom: 10px;
}
.ticket .address{
    color: #f10935;
    font-size: 17px;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    margin-top: 5px;
    background: #fff;
    text-align: center;
}
.ticket svg{
    vertical-align: middle;
    margin-right: 5px;
}
.ticket .dates{
    text-align: center;
    display: flex;
}
.ticket .dates div{
    flex: 2;
}
.ticket .dates span{
    flex: 0.5;
}
.ticket .dates>span{
    vertical-align: top;
    line-height: 65px;
    font-weight: bold;
    font-size: 16px;
}
.ticket .date{
    font-size: 23px;
    width: 65px;
    background: #fff;
    color: #f10935;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}
.ticket .date:first-child{
    margin-right: 10px;
}
.ticket .date:last-child{
    margin-left: 10px;
}
.ticket .date>:first-child{
    text-transform: uppercase;
    font-size: 18px;
}
.ticket .date>:last-child{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 33px;
}
.ticket .date hr{
    width: 50%;
    margin: 0 auto;
    border-color: #f10935;
}
.ticket .check-area{
    display: flex;
}
.ticket .check-area span{
    flex: 1;
}
.ticket .check-area>span:nth-child(n+2) {
    margin-left: 15px;
}
.ticket .check-area .check{
    color: #fff;
    padding: 8px 10px 4px;
    border-radius: 10px;
    border: 2px solid #fff;
    /* color: #fe4767; */
}
.ticket .check-area .check>p{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.ticket .check-area .check .day{
    font-size: 15px;
}
.ticket .check-area .check .time{
    font-size: 28px;
}

.ticket .id-area{
    background: #fff;
    color: #f10935;
    border-radius: 10px;
    padding: 8px 12px;
}
.ticket .id-area>span{
    display: block;
}
.ticket .id-area .host{
    margin-bottom: 8px;
}
.ticket .id-area .address-id span{
    background: #f10935;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
    display: block;
    width: max-content;
    margin-bottom: 3px;
}
.ticket .id-area .apto{
    font-size: 24px;
}

.ticket .address-area>span{
    font-size: 24px;
}

/* END TICKET MODAL */


/* REMINDER MODAL */

.modal.reminder-list .tab-list{
    font-size: 25px;
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}
.modal.reminder-list .tab-list span{
    flex: 1;
    opacity: 0.8;
}
.modal.reminder-list .tab-list span.active{
    opacity: 1;
    border-bottom: 4px solid #fff;
}
.modal.reminder-list>h2{
    margin-top: 0;
}
.modal.reminder-list>h3{
    margin-top: 5px;
}
.modal.reminder-list .list .item{
    padding-bottom: 3px;
    display: block;
}
.modal.reminder-list .list .item::first-letter{
    text-transform: uppercase;
}
.modal.reminder-list .add-item input::placeholder{
    color: #fff;
    opacity: 0.6;
}
.modal.reminder-list .list .item .input,
.modal.reminder-list .add-item .input{
    background: none;
    border: none;
    font-size: 17px;
    vertical-align: middle;
    width: calc(100% - 36px);
    display: inline-flex;
}
.modal.reminder-list .add-item .input{
    width: 100%;
}
.modal.reminder-list .input:focus{
    outline: none;
}
[contentEditable]:empty:not(:focus):before{
    content:attr(data-text);
    font-size: 20px;
}

/* END REMINDER MODAL */


/* FlipDown Countdown */

.flipdown{
    overflow: visible;
    width: max-content;  
    /* height: 110px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.flipdown.flipdown__theme-dark {
    margin: 0 auto;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #fff;
  }
  /* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #fff;
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
  background-color: #fe4767;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
  background-color: #fe4767;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 3px #f10935;
}
@media (max-width: 550px){
    .flipdown .rotor-group-heading:before {
        font-size: 1.2rem;
    }
    .flipdown .rotor {
        font-size: 4rem;
        margin-right: 3px;
        text-align: center;
    }
} 

.flipdown.flipdown__theme-dark{
    font-weight: 400;
}
.flipdown .rotor-group-heading:before {
    font-weight: bold;
}